<ul id="menu">    
  <li><%= link_to @database.name, database_path(@database.name) %></li>
</ul>  
  
<h1>Collection in <%= @database.name %></h1>
  
<diV>
 <%= pluralize(@documents.count, "document") %>
</div>

<ul>  
<% @documents.each do |doc| %>
  <li><<%= doc %>/li>
<% end %>
</ul>
