  
<div id="create_database_form">
  <form action="<%= databases_path %>" method="post">    
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="name">Name:</label>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag "Create", :class => "ui-state-default ui-corner-all" %>
  </form>    
</div>