<div id="menu" class="ui-tabs ui-widget ui-widget-content ui-helper-clearfix"> 
  <%= link_to "Databases", databases_path() %> >
  Create Database
</div> 

<h1>Create Database</h1>
<%= render :partial => "form" %>